
# Forçar o tipo MIME para arquivos TypeScript e JSX
<IfModule mod_mime.c>
    AddType application/javascript .ts
    AddType application/javascript .tsx
    AddType text/css .css
</IfModule>

# Garantir que o servidor não envie o cabeçalho 'nosniff' de forma que bloqueie os módulos
<IfModule mod_headers.c>
    Header set Content-Type "application/javascript" "expr=%{REQUEST_URI} =~ /\.tsx$/"
    Header set Content-Type "application/javascript" "expr=%{REQUEST_URI} =~ /\.ts$/"
</IfModule>

# Configuração de redirecionamento para Single Page Application
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>
